<div class="main-container">
    <table id="table">
        <%if (productos.length > 0) { %>
        <thead>
            <tr>
                <th>Nombre</th><th>Precio</th><th>Foto</th>
            </tr>
        </thead>
        
        <tbody id="tbody">
            <% productos.forEach(producto => { %>
                <tr>
                    <td>
                        <%= producto.title %>
                    </td>
                    <td>
                        <%= producto.price %>
                    </td>
                    <td>
                        <img src="
                        <%= producto.thumbnail %>
                        " alt="">
                    </td>
                </tr>
            <% }) %>    
        <% } else{ %>
            <h2>No se encontraron productos</h2>
        <% } %>
        </tbody>
    </table>

</div>